{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}About Page - Feature AB{% endblock %}</h1>
{% endblock %}


{% block content %}
<p> ------------- </p>
<p> Default Data </p>
<p>{{ default_data }}</p>
<p> ------------- </p>
<p> New Data </p>
<p>{{ data }}</p>
<p> ------------- </p>
<p> is user part of campaign => {{ is_part_of_campaign }} </p>
<p> ------------- </p>
<p> variation name => {{ variation_name }} </p>
<p> ------------- </p>
<p>{{ file }}</p>
<p> ------------- </p>
{% endblock %}